.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #111827;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #facc15;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  margin: 15px 0;
}

.sidebar-item a,
.sidebar-link-button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-item a:hover,
.sidebar-link-button:hover {
  background-color: #1f2937;
  color: #facc15;
}

.active a {
  background-color: #263a56;
  color: #fff;
}

/* ===== Mobile Responsive ===== */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: row;
    padding: 10px 0;
    overflow-x: auto;
    white-space: nowrap;
  }

  .sidebar-logo {
    margin: 0 20px;
    font-size: 18px;
    flex-shrink: 0;
  }

  .sidebar-menu {
    flex-direction: row;
    margin: 0;
    padding: 0 10px;
  }

  .sidebar-item {
    display: inline-block;
    margin: 0 10px;
  }

  .sidebar-item a,
  .sidebar-link-button {
    display: inline-block;
    padding: 8px 12px;
  }
}
